.app__developer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__developer-left img {
  width: 809px;
  height: 393px;
}

.app__developer-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

/* .app__developer-right-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
} */

.app__developer-right-text h1 {
  font-family: var(--font-space);
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  color: var(--tory-blue);
}

.dev-p {
  color: var(--color-black);
  font-size: 24px;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: 30.62px;
  padding: 1rem 0;
  width: 560px;
}

.dev-btn {
  padding: 15px 37px;
  background-color: var(--tory-blue);
  border-radius: 10px;
  border: none;
  cursor: pointer;

  font-family: var(--font-space);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-white);

  margin: 2rem 0;
}

@media screen and (max-width: 1301px) {
  .app__developer {
    flex-direction: column;
  }

  .app__developer-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0;
    text-align: center;
  }

  .dev-p {
    width: 860px;
    height: 150px;
    line-height: 156.52%;
  }

  .app__developer-left img {
    width: 509px;
    height: 393px;
  }
}

@media screen and (max-width: 798px) {
  .app__developer-right-text h1 {
    font-size: 40px;
    line-height: 50px;
  }

  .dev-p {
    width: 600px;
    font-size: 24px;
    line-height: 31px;
  }
}

@media screen and (max-width: 768px) {
  .app__developer-left img {
    width: 380px;
    height: 293px;
  }
}

@media screen and (max-width: 685px) {
  .app__developer-left img {
    width: 350px;
    height: 273px;
  }

  .dev-p {
    width: 500px;
    font-size: 22px;
    line-height: 31px;
  }
}

@media screen and (max-width: 570px) {
  .app__developer-right-text h1 {
    font-size: 35px;
    line-height: 50px;
  }

  .app__developer-left img {
    width: 320px;
    height: 243px;
  }

  .dev-p {
    width: 480px;
    font-size: 19px;
    line-height: 28px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .app__developer-right-text h1 {
    font-size: 28px;
    line-height: 50px;
  }

  .app__developer-left img {
    width: 300px;
    height: 180px;
  }

  .dev-p {
    width: 400px;
    font-size: 17px;
    line-height: 24px;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 390px) {
  .app__developer-right-text h1 {
    font-size: 24px;
    line-height: 30px;
  }

  .app__developer-left img {
    width: 280px;
    height: 160px;
  }

  .dev-p {
    width: 340px;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 0.5rem;
  }
}
