@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Space+Grotesk:wght@500;700&display=swap");

:root {
  --font-space: "Space Grotesk", sans-serif;
  --tory-blue: #3e5693;
  --color-black: #404040;
  --color-white: #ffffff;
  --color-yellow: #fcb914;
}

.header-h1 {
  font-family: var(--font-space);
  font-weight: 700;
  font-size: 64px;
  line-height: 72px;
  color: var(--tory-blue);
}

.header-p {
  font-family: var(--font-space);
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
  padding: 1rem 0;
  color: var(--color-black);
}

.section__padding {
  padding: 4rem 6rem;
}

.app__community-header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.app__community-header-h1 {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}

.app__community-header-btn {
  width: 203px;
  height: 56px;
  background: var(--tory-blue);
  border-radius: 10px;

  font-family: var(--font-space);
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  color: var(--color-white);
  border: none;
  cursor: pointer;
}

.app__community-header-image img {
  width: 528px;
  height: 530px;
}

@media screen and (min-width: 2000px) {
  .section__padding {
    padding: 4rem;
  }
}

@media screen and (max-width: 1301px) {
  .app__community-header {
    flex-direction: column;
    text-align: center;
  }

  .app__community-header-h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-p {
    width: 850px;

    font-size: 24px;
    line-height: 31px;
  }

  .header-h1 {
    font-size: 54px;
    line-height: 62px;
  }

  .app__community-header-btn {
    margin: 1rem 0;
  }
}

@media screen and (max-width: 913px) {
  .header-h1 {
    font-size: 45px;
    line-height: 52px;
  }

  .header-p {
    width: 690px;
    font-size: 24px;
    line-height: 31px;
  }
}

@media screen and (max-width: 798px) {
  .header-h1 {
    width: 590px;
    font-size: 38px;
    line-height: 50px;
  }

  .header-p {
    width: 600px;
    font-size: 22px;
    line-height: 31px;
  }
}

@media screen and (max-width: 768px) {
  .app__community-header-image img {
    width: 428px;
    height: 430px;
  }
}

@media screen and (max-width: 570px) {
  .header-h1 {
    width: 428px;
    font-size: 27px;
    line-height: 35px;
  }

  .header-p {
    width: 450px;
    font-size: 20px;
    line-height: 31px;
  }
}

@media screen and (max-width: 425px) {
  .header-h1 {
    width: 428px;
    font-size: 25px;
    line-height: 33px;
  }

  .header-p {
    width: 400px;
    font-size: 18px;
    line-height: 31px;
  }

  .app__community-header-image img {
    width: 328px;
    height: 260px;
  }
}

@media screen and (max-width: 390px) {
  .header-h1 {
    width: 360px;
    font-size: 23px;
    line-height: 30px;
  }

  .header-p {
    width: 400px;
    font-size: 17px;
    line-height: 31px;
  }

  .app__community-header-image img {
    width: 328px;
    height: 200px;
  }
}
