.app__form {
  width: 90%;
  min-height: 800px;
  border-radius: 20px;
  background: var(--tory-blue);
  margin: 3rem auto;
  text-align: center;
}

.app__form-top {
  padding: 3rem 0;
}

.app__form-top h1 {
  color: var(--color-white);
  text-align: center;
  font-size: 40px;
  font-family: var(--font-space);
  font-weight: 700;
  padding: 1rem 0;
}

.app__form-top .form-p {
  color: var(--color-white);
  font-size: 24px;
  font-family: var(--font-space);
  font-weight: 500;
  text-align: center;
  width: 786px;
  margin: 0 auto;
}

.app__form-input {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app__form-input .input {
  width: 849px;
  height: 72px;
  border-radius: 8px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  background: var(--color-white);
  text-align: left;
  padding-left: 2rem;
}

.app__form-input .message-box {
  width: 849px;
  height: 240px;
  padding-left: 2rem;
  padding-bottom: 11rem;
  text-align: left;
  border-radius: 8px;
  border: 1px solid rgba(196, 196, 196, 0.5);
  background: var(--color-white);
  margin: 2rem 0;
}

.form-btn {
  width: 849px;
  height: 56px;
  border-radius: 10px;
  background-color: var(--color-yellow);
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-family: var(--font-space);
  font-weight: 500;
  text-align: center;
}

.form-btn:hover {
  background-color: #f0b318;
}

@media screen and (max-width: 1024px) {
  .app__form-input .input {
    width: 749px;
  }

  .app__form-input .message-box {
    width: 749px;
  }

  .form-btn {
    width: 749px;
  }
}

@media screen and (max-width: 910px) {
  .app__form-top h1 {
    font-size: 35px;
  }
  .app__form-top .form-p {
    font-size: 24px;
    width: 686px;
  }

  .app__form-input .input {
    width: 649px;
  }

  .app__form-input .message-box {
    width: 649px;
  }

  .form-btn {
    width: 649px;
  }
}

@media screen and (max-width: 768px) {
  .app__form-top h1 {
    font-size: 30px;
  }
  .app__form-top .form-p {
    font-size: 22px;
    width: 586px;
  }

  .app__form-input .input {
    width: 549px;
  }

  .app__form-input .message-box {
    width: 549px;
  }

  .form-btn {
    width: 549px;
  }
}

@media screen and (max-width: 676px) {
  .app__form-top .form-p {
    font-size: 20px;
    width: 500px;
  }

  .app__form-input .input {
    width: 500px;
  }

  .app__form-input .message-box {
    width: 500px;
  }

  .form-btn {
    width: 500px;
  }
}

@media screen and (max-width: 570px) {
  .app__form-top h1 {
    font-size: 25px;
  }

  .app__form-top .form-p {
    font-size: 18px;
    width: 400px;
  }

  .app__form-input .input {
    width: 450px;
  }

  .app__form-input .message-box {
    width: 450px;
  }

  .form-btn {
    width: 450px;
  }
}

@media screen and (max-width: 425px) {
  .app__form-top h1 {
    font-size: 20px;
  }

  .app__form-top .form-p {
    font-size: 15px;
    width: 320px;
  }

  .app__form-input .input {
    width: 350px;
  }

  .app__form-input .message-box {
    width: 350px;
  }

  .form-btn {
    width: 350px;
  }
}

@media screen and (max-width: 380px) {
  .app__form-top h1 {
    font-size: 18px;
  }

  .app__form-top .form-p {
    font-size: 15px;
    width: 290px;
  }

  .app__form-input .input {
    width: 290px;
  }

  .app__form-input .message-box {
    width: 290px;
  }

  .form-btn {
    width: 290px;
  }
}
