.app__explore {
  width: 100%;
  height: 226px;
  background-color: var(--tory-blue);

  display: flex;
  justify-content: center;
  align-items: center;
}

.app__explore-h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  width: 497px;
  height: 102px;
}

.app__explore-h1 h1 {
  font-family: var(--font-space);
  font-weight: 700;
  font-size: 40px;
  line-height: 51px;
  text-transform: capitalize;
  text-align: center;
  color: var(--color-white);
}

@media screen and (max-width: 913px) {
  .app__explore-h1 h1 {
    font-size: 35px;
    line-height: 51px;
  }
}

@media screen and (max-width: 570px) {
  .app__explore-h1 h1 {
    width: 234px;
    font-size: 27px;
    line-height: 37px;
  }
}

@media screen and (max-width: 425px) {
  .app__explore-h1 h1 {
    width: 230px;
    font-size: 24px;
    line-height: 37px;
  }
}

@media screen and (max-width: 390px) {
  .app__explore-h1 h1 {
    width: 250px;
    font-size: 22px;
    line-height: 35px;
  }
}
